<%- include('../templates/header.ejs', {info: info}) %>
    <div id="config">
        <ul class="tab">
            <li class="tablinks" onclick="openTab(event, 'users')" id="defaultOpen">Usuarios</li>
            <li class="tablinks" onclick="openTab(event, 'proser')">Productos/Servicios</li>
            <li class="tablinks" onclick="openTab(event, 'vips')">Vips</li>
            <li class="tablinks" onclick="openTab(event, 'covers')">Covers</li>
        </ul>

        <div id="users" class="tabcontent">
            <form action="/config/signup" method="post">
                <div class="formInput">
                    <label for="">Usuario:</label>
                    <input type="text" name="username" placeholder="Introduce usuario" required>
                </div>
                <div class="formInput">
                    <label for="">Correo:</label>
                    <input type="text" name="email" placeholder="Introduce correo" required>
                </div>
                <div class="formInput">
                    <label for="">Contrase単a:</label>
                    <input type="password" name="password" placeholder="Introduce contrase単a" required>
                </div>

                <div class="formInput">
                    <label for="">Tipo:</label>
                    <select name="level">
                        <option value="receptioner">Recepcionista</option>
                        <option value="bartender">Bartender</option>
                        <option value="admin">Administrador</option>
                    </select>
                </div>
                <div class="formInput">
                    <button>Guardar</button>
                </div>
            </form>
            <section>
                <% for( let i=0; i < users.length; i++ ) { %>
                    <article>
                        <h2>
                            <%= users[i].username %>
                        </h2>
                        <div>
                            <% if (users[i].username !=info.username) { %>
                                <% if (users[i].active) { %>
                                    <label class="switch">
                                        <input type="checkbox" onchange="toogleActive('<%= users[i]._id %>')" checked>
                                        <span class="slider round"></span>
                                    </label>
                                    <p>Activo</p>
                                    <% }else{ %>
                                        <label class="switch">
                                            <input type="checkbox" onchange="toogleActive('<%= users[i]._id %>')">
                                            <span class="slider round"></span>
                                        </label>
                                        <p>No activo</p>
                                        <% } %>
                                            <% }else{ %>
                                                <% if (users[i].active) { %>
                                                    <p>Activo</p>
                                                    <% }else{ %>
                                                        <p>No activo</p>
                                                        <% } %>
                                                            <% } %>
                        </div>
                    </article>
                    <% } %>
            </section>
        </div>

        <div id="proser" class="tabcontent">
            <h3>Productos/Servicios</h3>
            <p>Paris is the capital of France.</p>
        </div>

        <div id="vips" class="tabcontent">
            <form action="/config/signup" method="post">
                <div class="formInput">
                    <label for="">Nombre:</label>
                    <input type="text" name="name" placeholder="Introduce nombre" required>
                </div>
                <div class="formInput">
                    <label for="">Contrase単a:</label>
                    <input type="password" name="password" placeholder="Introduce contrase単a" required>
                </div>
                <div class="formInput">
                    <label for="">Entradas(mes):</label>
                    <input type="number" name="entraces" placeholder="Introduce entradas" required>
                </div>
                <div class="formInput">
                    <label for="">Descuento:</label>
                    <input type="range" id="discount" list="values" value="0" min="0" max="100" />

                    <datalist id="values">
                        <option value="0"></option>
                        <option value="25"></option>
                        <option value="50"></option>
                        <option value="75"></option>
                        <option value="100"></option>
                    </datalist>
                    <input class="small" type="number" name="discount"  value="0" id="displayer" readonly>%
                </div>
                <div class="formInput">
                    <button>Guardar</button>
                </div>
            </form>
        </div>

        <div id="covers" class="tabcontent">
            <h3>Covers</h3>
            <p>Tokyo is the capital of Japan.</p>
        </div>

    </div>
    <script>
        function openTab(evt, tabName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the link that opened the tab
            document.getElementById(tabName).style.display = "flex";
            evt.currentTarget.className += " active";
        }
        document.getElementById("defaultOpen").click();
    </script>
    <%- include('../templates/footer.ejs') %>
        <script>
            const toogleActive = (_id) => {
                fetch('users/toogleActive/' + _id);
            }

            const discount = document.getElementById('discount');
            discount.addEventListener('mousemove',()=>{
                document.getElementById('displayer').value = discount.value;
            });
            discount.addEventListener('change',()=>{
                document.getElementById('displayer').value = discount.value;
            });
        </script>